<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Passwod Validation</title>
</head>
<body>
<form id="regForm"  action="#" th:action="@{/password}"
      method="post">
    <table align="center">
        <tr th:if="${onError}">
            <td style="color:blue">Password:</td>
            <td style="color:blue" th:text="${password}"></td>
            <td style="color:red" th:text="${message}"></td>
        </tr>
        <tr th:if="${!onError}">
            <td style="color:blue">Password:</td>
            <td style="color: blue" th:text="${message}"></td>
        </tr>
        <tr>
            <td><label name="password">Password</label></td>
            <td><input type="input" name="password" value=""
                       id="password" /></td>
        </tr>

        <tr>
            <td></td>
            <td><button name="password">Validate</button></td>
        </tr>
        <tr>
            <td><a href="/">Home</a></td>
        </tr>
    </table>
</form>

</body>
</html>